<ion-header>
	<ion-toolbar>
		<ion-buttons slot='start'>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{title}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card>
		<ion-card-content>
			<ion-img src="/assets/img/myUser.png"></ion-img>
			<ion-input type="text" name="nombre" disabled>{{user.fullName}}</ion-input>
			<ion-input type="text" name="apellido" disabled>{{user.lastNames}}</ion-input>

		</ion-card-content>
	</ion-card>

	<ion-list no-lines>
		<ion-item *ngFor="let p of menuProfile" [routerLink]="[p.url]">
			{{p.title}}
		</ion-item>
	</ion-list>

</ion-content>