<ion-header>
  <ion-toolbar>
    <ion-title>Vendedor In </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	 <ion-card>

    <img src="assets/img/introPrin.jpg"/>

    <ion-card-content>
      <ion-card-title>
        Björk
      </ion-card-title>
      <p>
        Björk first came to prominence as one of the lead vocalists of the avant pop Icelandic sextet the Sugarcubes, but when...
      </p>
    </ion-card-content>
</ion-card>



	 <ion-card>

    <img src="assets/img/intro1.jpg"/>

    <ion-card-content>
      <ion-card-title>
        Björk
      </ion-card-title>
      <p>
        Björk first came to prominence as one of the lead vocalists of the avant pop Icelandic sextet the Sugarcubes, but when...
      </p>
    </ion-card-content>
</ion-card>


 <ion-card>

    <img src="assets/img/intro3.jpg"/>

    <ion-card-content>
      <ion-card-title>
        Björk
      </ion-card-title>
      <p>
        Björk first came to prominence as one of the lead vocalists of the avant pop Icelandic sextet the Sugarcubes, but when...
      </p>
    </ion-card-content>
</ion-card>

	<!--<ion-list>
		<ion-item>
			<img src="assets/img/introPrin.jpg"/>
		</ion-item>
	
		<ion-item>
			<img src="assets/img/intro1.jpg"/>
		</ion-item>
		<ion-item>
			<img src="assets/img/intro3.jpg"/>
		</ion-item>
		

	</ion-list>
-->

   Intro Vendedor In
    <button ion-item (click)="irLogin()">
            Login 
    </button>
</ion-content>
