<ion-header>
  <ion-toolbar>
    <button ion-item  (click)="regresar()">
	      <ion-icon name="arrow-back"></ion-icon>
	</button>
	{{title}}
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label fixed>El código de su puesto es:</ion-label>
		</ion-item>
		<ion-item>
			<p> #### </p>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-item>
			<p><ion-label fixed>Dirección</ion-label></p>
		</ion-item>
		<ion-item>
			<ion-label> ##</ion-label>
		</ion-item>
		<ion-item>
			<p><ion-label fixed>Localidad</ion-label></p>
		</ion-item>
		<ion-item>
			<ion-label> ##</ion-label>
		</ion-item>
		<ion-item>
			<p><ion-label fixed>Contacto</ion-label></p>
		</ion-item>
		<ion-item>
			<ion-label> ##</ion-label>
		</ion-item>
		<ion-item>
			<p><ion-label fixed>Tel. Contacto</ion-label></p>
		</ion-item>
		<ion-item>
			<ion-label> ##</ion-label>
		</ion-item>

	</ion-list>

</ion-content>
