<ion-header>
  <ion-toolbar>
      <ion-buttons slot='start'>
          <ion-back-button ></ion-back-button>
      </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-title>Informacion el puesto</ion-card-title>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Direccion</ion-label>
          {{stand.address}}
        </ion-item>
        <ion-item>
          <ion-label>Barrio</ion-label>
          {{stand.neighborhoodId}}
        </ion-item>
        <ion-item>
        <ion-label>Localidad</ion-label>
          {{stand.neighborhoodId}}
        </ion-item>
        <ion-item>
        <ion-label>Asociado</ion-label>
          {{stand.contactName}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button color="primary" expand="block" [routerLink]="['/auditory-questionary']">Realizar auditoria</ion-button>
</ion-content>
