<ion-header>
  <ion-toolbar>
      <ion-buttons slot='start'>
          <ion-back-button ></ion-back-button>
      </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<p>Pulse el boton  comprobar puesto y acerque el lector QR con condigo generado por el comerciante en la seccion mi puesto.</p>
<ion-button color="primary" expand="block" (click)="scanCode()" >Comprobar puesto</ion-button>
<ion-card>
  <ion-card-content>
    Result from Scan:{{scannedCode}}
  </ion-card-content>
</ion-card>

<ion-button color="primary" [routerLink]="['/auditory-stand-info']" >siguiente</ion-button>
</ion-content>
