<ion-header>
  <ion-toolbar>
      <ion-buttons slot='start'>
          <ion-back-button ></ion-back-button>
      </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<p>Acerque el escaner al codigo QR del puesto generado por el comerciante para comprobar la utenticidad del puesto.</p>
<ion-item>
    <ion-input type="text" placeholder="My Qr data" [(ngModel)]="qrData"></ion-input>
</ion-item>
<ion-button color="primary" (click)="creaateCode()" >Generate code</ion-button>
<ion-button color="primary" (click)="scanCode()" >Scan code</ion-button>

<app-qrgenerator [codigoqr]="createdCode" ></app-qrgenerator>

<ion-card>
  <ion-card-content>
    Result from Scan:{{scannedCode}}
  </ion-card-content>
</ion-card>

<ion-button color="primary" [routerLink]="['/auditory-stand-info']" >siguiente</ion-button>
</ion-content>
