<ion-header>
  <ion-toolbar>
    <ion-title>Capacitación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-list id="capacitaciN-list3">
      <ion-item  href="foodManagement">
        <img src="img/Ze9NejQSfCxjZpLrqppF_f36fff3c280cf812e24ec6a9c3c99015.png">
        <h2>Manejo de alimentos</h2>
      </ion-item>
      
      <ion-item href="itManagement">
        <img src="img/qMKPQWdTleDs6p50D7zV_higienetecnologica3.png">
        <h2>Gestión de tecnologia</h2>
      </ion-item>
     
      <ion-item href="hygieneManagement">
        <img src="img/YPaX9jGdTKeI0caTOECD_gestionHigiene-I.JPG">
        <h2>Gestión de higiene</h2>
      </ion-item>
      
      <ion-item href="financeManagement">
        <img src="img/IAeSqFvnTWTfXP1tvMJi_gestion-de-riesgos-finanzas.jpg">
        <h2>Gestión de finanzas</h2>
      </ion-item>
      
      <ion-item href="clothesManagement">
        <img src="img/5L6HJuoDSIGrHI4YqpG9_tpv_tiendas_de_ropa1.jpg">
        <h2>Gestión de ropa</h2>
      </ion-item>
      
      <ion-item href="digitalMarket">
        <img src="img/K3H6LchTKKOLMKJIKFiU_marketing-digital.png">
        <h2>Marketing</h2>
      </ion-item>
    </ion-list>
</ion-content>
