<ion-header>
  <ion-toolbar>
    <ion-title>Capacitación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-list id="capacitaciN-list3">
      <ion-item  href="foodManagement">
        <img src="assets/img/manipulacionA.png">
        <h2>Manejo de alimentos</h2>
      </ion-item>
      
      <ion-item href="itManagement">
        <img src="assets/img/higieneT.png">
        <h2>Gestión de tecnología</h2>
      </ion-item>
     
      <ion-item href="hygieneManagement">
        <img src="assets/img/gestionHigiene-I.JPG">
        <h2>Gestión de higiene</h2>
      </ion-item>
      
      <ion-item href="financeManagement">
        <img src="assets/img/gestionF.jpg">
        <h2>Gestión de finanzas</h2>
      </ion-item>
      
      <ion-item href="clothesManagement">
        <img src="assets/img/gestionR.jpg">
        <h2>Gestión de ropa</h2>
      </ion-item>
      
      <ion-item href="digitalMarket">
        <img src="assets/img/marketingD.png">
        <h2>Marketing</h2>
      </ion-item>
    </ion-list>
</ion-content>
