<ion-header>
  <ion-toolbar>
      <ion-buttons slot='start'>
          <ion-back-button  href='home'></ion-back-button>
        </ion-buttons>
    <ion-title id="centerAlign">{{titlePage}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-list id="capacitaciN-list3">
      <ion-item  href="foodManagement" >                   
      <ion-label id="justifiedAlign" >{{trainingsFM.trainingName}}</ion-label>
      <ion-thumbnail slot="start">
      <img src="assets/img/manipulacionA.png">
    </ion-thumbnail>
      
      </ion-item>
      
      <ion-item href="itManagement">
        <ion-label id="justifiedAlign">{{trainingsIM.trainingName}}</ion-label>
      <ion-thumbnail slot="start">
      <img src="assets/img/higieneT.png">
    </ion-thumbnail>
      </ion-item>
     
      <ion-item href="hygieneManagement">
        <ion-label id="justifiedAlign">{{trainingsHM.trainingName}}</ion-label>
      <ion-thumbnail slot="start">
      <img src="assets/img/gestionHigiene-I.JPG">
    </ion-thumbnail>
     </ion-item>
      
      <ion-item href="financeManagement">
        <ion-label id="justifiedAlign">{{trainingsFinanceM.trainingName}}</ion-label>
      <ion-thumbnail slot="start">
      <img src="assets/img/gestionF.jpg">
    </ion-thumbnail>
     </ion-item>
      
      <ion-item href="clothesManagement">
        <ion-label id="justifiedAlign">{{trainingsCM.trainingName}}</ion-label>
      <ion-thumbnail slot="start">
      <img src="assets/img/gestionR.jpg">
    </ion-thumbnail>
      </ion-item>
      
      <ion-item href="digitalMarket">
        <ion-label id="justifiedAlign">{{trainingsM.trainingName}}</ion-label>
      <ion-thumbnail slot="start">
       <img src="assets/img/marketingD.png">
    </ion-thumbnail>
      </ion-item>
    </ion-list>
</ion-content>
