<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1> Vendedor IN </h1>
  <p>Bievenido a la aplicacion de vendedores informales más libre del pais los siguientes modulos estan disponibles para tí</p>

  <ion-card *ngFor="let modules of modulos" [routerLink]="modules.pagina" animated="true">
    <img src="assets/img/miPuesto.png"/>
     <ion-card-title>
        {{modules.name}}
     </ion-card-title>
  </ion-card>
  <ion-card>
    <img src="assets/img/miCertificado.png"/>
    <ion-card-title>
        Mi Certificado
     </ion-card-title>
  </ion-card>
</ion-content>
